/* ResponseCheck */

#screen {
  width: 600px;
  height: 400px;
  padding: 150px 15px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  user-select: none; /*block X*/
}

#screen .average {
  margin: 20px;
  font-size: 20px;
}

#screen.waiting {
  background-color: cornflowerblue;
}

#screen.ready {
  background-color: tomato;
}

#screen.now {
  background-color: seagreen;
}

.ball {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}

/* 틱택톡 */
table {
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
}
